/* General */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 8px 0;
  border-radius: 4px;
  display: block;
}

/* Index page */

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 0 70px;
  box-sizing: border-box;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.page-header-logo {
  display: block;
  width: 138px;
  margin-right: 30px;
  position: relative;
  margin-bottom: -7px;
}

.user-navigation {
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  display: block;
  padding: 20px 16px;
}

.user-navigation .search-link,
.user-navigation .like-link {
  display: block;
  padding: 22px 12px;
}

.search-image,
.like-image {
  display: block;
}

.navigation-list .navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.navigation-button {
  width: 160px;
  margin-left: 20px;
}

.hero {
  padding: 51px 371px 82px;
  background-image: url(../images/hero-block/hero-divider.svg), url(../images/hero-block/hero-image.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position-y: 100%, center;
  background-color: #DAE8F1;
}

.slogan-container {
  padding-top: 69px;
  padding-bottom: 90px;
}

.slogan {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.slogan-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 651px;
  margin: 0 auto;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-text-container {
  box-sizing: border-box;
  padding: 92px 85px 111px;
  min-height: 384px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-of-type(1),
.advantages-item:nth-of-type(5) {
  background-color: #82B3D3;
  grid-column: 1 / -1;
  display: flex;
}

.advantages-item:nth-of-type(7) {
  background-color: #ffffff;
}

.advantages-item:nth-of-type(2),
.advantages-item:nth-of-type(3),
.advantages-item:nth-of-type(4) {
  box-sizing: border-box;
  max-width: 400px;
  padding: 103px 85px 121px;
}

.advantages-item:nth-of-type(2) h3,
.advantages-item:nth-of-type(3) h3,
.advantages-item:nth-of-type(4) h3 {
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
}

.advantages-item:nth-of-type(6),
.advantages-item:nth-of-type(7),
.advantages-item:nth-of-type(8) {
  box-sizing: border-box;
  max-width: 400px;
  padding: 182px 85px 81px;
}

.advantages-item:nth-of-type(6) h3,
.advantages-item:nth-of-type(7) h3,
.advantages-item:nth-of-type(8) h3 {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 230px;
}

.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item:nth-of-type(1) h3,
.advantages-item:nth-of-type(5) h3 {
  color: #ffffff;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-description {
  color: #000000;
  text-align: center;
}

.advantages-item:nth-of-type(1) p,
.advantages-item:nth-of-type(5) p {
  color: #ffffff;
  margin: 0 auto;
}

.advantages-item:nth-of-type(6) {
  background: url(../images/advantages/house.svg) no-repeat rgba(131, 179, 211, 0.12);
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-item:nth-of-type(7) {
  background: url(../images/advantages/burger.svg) no-repeat;
  background-size: 74px 70px;
  background-position: center 81px;
}

.advantages-item:nth-of-type(8) {
  background: url(../images/advantages/present.svg) no-repeat rgba(131, 179, 211, 0.12);
  background-size: 64px 76px;
  background-position: center 78px;
}

/* Newsletter section and footer */

.hotel-search {
  text-align: center;
  width: 592px;
  padding: 96px 304px;
}

.newsletter {
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-title {
  margin: 0 auto;
}

.hotel-search-title {
  display: block;
}

.hotel-search-title,
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.hotel-search-description,
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter-title,
.newsletter-description {
  color: #000000;
}

.newsletter-form {
  display: flex;
  width: 682px;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  width: 376px;
  margin: 0 auto;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
}

.inner-field {
  background-color: #F2F2F2;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-align: center;
  width: 232px;
  border-radius: 0 4px 4px 0;
}

.newsletter-index {
  background: url(../images/index-footer-background.jpg) no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
}

.newsletter-index .newsletter-title,
.newsletter-index .newsletter-description {
  background-color: transparent;
  color: #ffffff;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 120px;
  padding-left: 70px;
  padding-right: 70px;
}

.social-list {
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
}

.social-button {
  background-color: #ffffff;
}

.contacts-adress-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

/* Calalog page */

.filters-background {
  background: url(../images/catalog-filter-background.jpg) no-repeat;
  background-size: 100% 100%;
  background-color: #82B3D3;
  padding: 25px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.bread-crumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.bread-crumbs-list {
  display: flex;
  list-style: none;
  width: 114px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-group {
  min-width: 151px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group:nth-of-type(1) {
  margin-right: 70px;
}

.catalog-filter-group:nth-of-type(2) {
  margin-right: auto;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;
  color: #ffffff;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 191px;
}

.filters-submit-button {
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.filters-reset-button {
  background-color: transparent;
}

.hotels-catalog {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px 60px;
}

.hotels-filter-container {
  display: flex;
  justify-content: space-between;
  height: 49px;
  align-items: center;
  margin-bottom: 40px;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  line-height: 21px;
  width: 292px;
  height: 100%;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  padding-left: 20px;
}

.view-type-container {
  display: flex;
  width: 160px;
  flex-wrap: wrap;
  column-gap: 8px;
}

.filters-button {
  background-color: transparent;
  padding: 15px 14px;
  border: 2px solid #E5E5E5;
}

.button-current {
  border-color: #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.card-inner-container {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  margin-bottom: 0;
}

.hotel-card-type,
.hotel-card-price {
  margin: 0;
}

.hotel-card-price {
  justify-self: end;
}

.favorites-button {
  background-color: #82B3D3;
}

.already-favorites-button {
  background-color: #7DB54F;
}

.rating-star-list {
  list-style-type: none;
  display: flex;
  column-gap: 6px;
  justify-content: left;
  padding: 0;
  align-items: center;
}

.rating-count {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  margin: 0;
  justify-self: center;
  padding: 9px 22px 8px 23px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: left;
  column-gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-item:nth-of-type(5) {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding-top: 17px;
  box-sizing: border-box;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
