/* General */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 8px 0;
  border-radius: 4px;
  display: block;
  cursor: pointer;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

/* Index page */

.navigation {
  display: flex;
  width: 1200px;
  justify-content: flex-start;
  padding: 0 70px;
  box-sizing: border-box;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
}

.page-header-logo {
  display: block;
  width: 138px;
  margin-right: 30px;
  position: relative;
  margin-bottom: -7px;
}

.user-navigation {
  margin-left: auto;
  width: 280px;
  justify-content: flex-end;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.user-navigation .search-link,
.user-navigation .like-link {
  padding: 22px 12px;
  box-sizing: border-box;
  width: 44px;
  min-height: 64px;
}

.favourite-hotel-count {
  display: block;
  font-size: 10px;
  color: #FFFFFF;
  position: absolute;
  top: 11px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  text-align: center;
  line-height: 20px;
}

.search-icon,
.like-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-list .navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.navigation-button {
  width: 160px;
  margin-left: 20px;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.hero {
  padding: 51px 371px 82px;
  background-image: url(../images/hero-block/hero-divider.svg), url(../images/hero-block/hero-image.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position-y: 100%, center;
  background-color: #DAE8F1;
  background-size: 1200px 57px,1200px 485px;
}

.hero-text {
  display: block;
}

.slogan-container {
  padding-top: 69px;
  padding-bottom: 90px;
}

.slogan {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.slogan-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 651px;
  margin: 0 auto;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-text-container {
  box-sizing: border-box;
  padding: 92px 85px 111px;
  min-height: 384px;
  width: 400px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  min-height: 384px;
}

.advantages-item:nth-of-type(1),
.advantages-item:nth-of-type(5) {
  background-color: #82B3D3;
  grid-column: 1 / -1;
  display: flex;
}

.advantages-item:nth-of-type(7) {
  background-color: #ffffff;
}

.advantages-item:nth-of-type(2),
.advantages-item:nth-of-type(3),
.advantages-item:nth-of-type(4) {
  box-sizing: border-box;
  max-width: 400px;
  padding: 103px 85px 121px;
}

.advantages-item:nth-of-type(2) h3,
.advantages-item:nth-of-type(3) h3,
.advantages-item:nth-of-type(4) h3 {
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
}

.advantages-item:nth-of-type(6),
.advantages-item:nth-of-type(7),
.advantages-item:nth-of-type(8) {
  box-sizing: border-box;
  max-width: 400px;
  padding: 182px 85px 81px;
}

.advantages-item:nth-of-type(6) h3,
.advantages-item:nth-of-type(7) h3,
.advantages-item:nth-of-type(8) h3 {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 230px;
}

.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item:nth-of-type(1) h3,
.advantages-item:nth-of-type(5) h3 {
  color: #ffffff;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-description {
  color: #000000;
  text-align: center;
  margin: 0;
}

.advantages-item:nth-of-type(1) p,
.advantages-item:nth-of-type(5) p {
  color: #ffffff;
  margin: 0 auto;
}

.advantages-item:nth-child(6) {
  background: url(../images/advantages/house.svg) no-repeat rgba(131, 179, 211, 0.12);
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-item:nth-child(7) {
  background: url(../images/advantages/burger.svg) no-repeat;
  background-size: 74px 70px;
  background-position: center 81px;
}

.advantages-item:nth-child(8) {
  background: url(../images/advantages/present.svg) no-repeat rgba(131, 179, 211, 0.12);
  background-size: 64px 76px;
  background-position: center 78px;
}

.advantages-title {
  position: relative;
}

.advantages-item:nth-child(1) .advantages-title::before,
.advantages-item:nth-child(2) .advantages-title::before,
.advantages-item:nth-child(3) .advantages-title::before,
.advantages-item:nth-child(4) .advantages-title::before,
.advantages-item:nth-child(5) .advantages-title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  bottom: -32px;
}

.advantages-item:nth-child(1) .advantages-title::before,
.advantages-item:nth-child(5) .advantages-title::before {
  background: rgba(255, 255, 255, 0.3);
}

.township-image,
.devil-bridge-image {
  margin: auto;
}

/* Newsletter section and footer */

.hotel-search {
  text-align: center;
  width: 592px;
  padding: 96px 304px;
}

.newsletter {
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-title {
  margin: 0 auto;
}

.hotel-search-title {
  display: block;
}

.hotel-search-title,
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.hotel-search-description,
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter-title,
.newsletter-description {
  color: #000000;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  width: 376px;
  margin: 0 auto;
}

.hotel-search-button:not(:disabled):hover,
.hotel-search-button:not(:disabled):focus {
  background-color: #615048;
}

.hotel-search-button:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.hotel-search-button:disabled {
  background-color: #E5E5E5;
  cursor: default;
  outline: none;
}

.newsletter-form {
  display: flex;
  width: 684px;
}

.newsletter-form .field {
  padding: 14px 0;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 452px;
  box-sizing: border-box;
  line-height: 24px;
}

.inner-field {
  background-color: #F2F2F2;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-align: center;
  width: 232px;
  border-radius: 0 4px 4px 0;
}

.newsletter-button:not(:disabled):hover,
.newsletter-button:not(:disabled):focus {
  background-color: #68A2CA;
}

.newsletter-button:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.newsletter-button:disabled {
  background-color: #E5E5E5;
  cursor: default;
  outline: none;
}

.newsletter-index {
  background: url(../images/backgrounds/index-footer-background.jpg) no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  background-size: 1200px auto;
}

.newsletter-index .newsletter-title,
.newsletter-index .newsletter-description {
  background-color: transparent;
  color: #ffffff;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 45px;
  padding-bottom: 35px;
}

.social-list {
  list-style: none;
  justify-content: space-around;
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
}

.social-button {
  background-color: #ffffff;
  fill: #83B3D3;
  padding: 0;
}

.social-button .social-icon {
  fill: #83B3D3;
}

.social-button:hover .social-icon,
.social-button:focus .social-icon {
  fill:#68A2CA;
}

.social-button:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-adress-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
  max-width: 660px;
  display: block;
  text-align: center;
}

.contacts-adress-phone:hover,
.contacts-adress-phone:focus {
  color: #756157;
}

.contacts-adress-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link:hover .html-academy-logo,
.htmlacademy-link:focus .html-academy-logo {
  fill: #756157;
}

.htmlacademy-link:active .html-academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search-hotel {
  width: 717px;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 18px;
  background-color: #000000;
  left: 18px;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
 transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline-color: #83B3D3;
  background-color: #E6E6E6;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.reservation-form .field-group {
  margin: 0;
}

.reservation-form .field-group {
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 4px;
}

.reservation-form .field {
  width: 440px;
  padding: 12px 40px 12px 20px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.reservation-form .field:not(.count-field) {
  position: relative;
  background: url(..//images/modal/calendar.svg) no-repeat #F2F2F2;
  background-position: 400px;
}

.reservation-form .field:not(.count-field):hover {
  background-color: #E6E6E6;;
}

.reservation-form .count-field {
  width: 31px;
  padding: 14px 10px;
  line-height: 20px;
}

.reservation-form .field-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  max-width: 120px;
}

.modal-field-caption {
  font-size: 16px;
  width: 371px;
  padding: 0 20px;
  margin-left: 137px
}

.error-caption {
  color: #FF5757
}

.count-field-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 88px;
  margin-bottom: 48px;
}

.count-field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.modal-increase-button,
.modal-decrease-button {
  width: 40px;
  min-height: 48px;
  padding: 0;
  border: none;
  position: relative;
  cursor: pointer;
}

.modal-decrease-button {
  margin-left: auto;
}

.modal-decrease-button::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 14px;
  background-color: rgba(117, 97, 87, 0.3);
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.modal-increase-button::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 14px;
  background-color: rgba(117, 97, 87, 0.3);
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.modal-increase-button::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 14px;
  background-color: rgba(117, 97, 87, 0.3);
  top: 50%;
  right: 50%;
  transform: translateX(50%) rotate(90deg);
}

.modal-increase-button:hover::before,
.modal-increase-button:hover::after,
.modal-decrease-button:hover::before {
  background-color: #000000;
}

.modal-increase-button:focus,
.modal-decrease-button:focus {
  outline-color: #83B3D3;
}

.modal-increase-button:active::before,
.modal-increase-button:active::after,
.modal-decrease-button:active::before {
  background: rgba(117, 97, 87, 0.3);
}

.reservation-form-button {
  width: 100%;
  padding: 18px 0;
  border-radius: 10px;
  background-color: #83B3D3;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  width: 256px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  position: absolute;
  top: 100%;
  margin-top: 16px;
  box-sizing: border-box;
  transform: translateX(-50%);
  margin-left: 13px;
  min-height: 143px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url(../images/modal/popover-arrow.svg);
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.modal-container-close {
  display: none;
}

/* Calalog page */

.filters-wrapper {
  background: url(../images/backgrounds/catalog-filter-background.jpg) no-repeat;
  background-size: 100% 100%;
  background-color: #82B3D3;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}
.bread-crumbs-list {
  display: flex;
  list-style: none;
  column-gap: 29px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  background: url(..//images/filters/breadcrumbs-angle-bracket.svg) no-repeat;
  width: 8px;
  height: 20px;
  bottom: 0;
  right: -17px;
}

.bread-crumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.bread-crumbs-link {
  fill: #FFFFFF;
}

.bread-crumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.bread-crumbs-link:focus {
  color: rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-group {
  min-width: 151px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group:nth-of-type(1) {
  margin-right: 70px;
}

.catalog-filter-group:nth-of-type(2) {
  margin-right: auto;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;
  color: #ffffff;
  position: relative;
  display: block;
  padding-left: 38px;
  font-weight: 400;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:focus-within {
  outline: 2px solid #000000;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  left: 0;
  top: 2px;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  background: url(../images/filters/checkbox-mark.svg);
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

.range-wrapper-inputs {
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  position: relative;
}

.catalog-filter-label:first-child .range-input {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:nth-child(2) .range-input {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label:not(:last-child) {
  display: flex;
  margin-right: 2px;
}

.range-input {
  width: 143px;
  padding: 12px 32px 12px 20px;
  box-sizing: border-box;
  border: none;
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
  appearance: textfield;
}

.range-input-description {
  position: absolute;
  content: "";
  right: 20px;
  top: 12px;
  line-height: 24px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.range-toggle:focus,
.range-toggle:active {
  outline: 2px solid #000000;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 191px;
  margin-left: 70px;
}

.filters-submit-button {
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.filters-submit-button:not(:disabled):hover,
.filters-submit-button:not(:disabled):focus {
  background-color: #68A2CA;
}

.filters-submit-button:not(:disabled):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.filters-submit-button:disabled {
background-color: #E5E5E5;
cursor: default;
outline: none;
}

.filters-reset-button {
  background-color: transparent;
}

.filters-reset-button:not(:disabled):hover {
  opacity: 0.6;
}

.filters-reset-button:not(:disabled):active {
  opacity: 0.3;
}

.filters-reset-button:disabled {
  cursor: default;
  outline: none;
  opacity: 0.1;
}

.hotels-catalog {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px 60px;
}

.hotels-filter-container {
  display: flex;
  justify-content: space-between;
  min-height: 49px;
  align-items: center;
  margin-bottom: 40px;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  line-height: 21px;
  width: 292px;
  height: 100%;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 34px 14px 20px;
  appearance: none;
  background-image: url(../images/filters/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:not(:disabled):hover {
  border-color: #68A2CA;
}

.select-control:not(:disabled):active {
  border-color: #3F5E72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);;
}

.view-type-container {
  display: flex;
  min-width: 160px;
  flex-wrap: wrap;
  column-gap: 8px;
}

.filters-button {
  background-color: transparent;
  padding: 15px 14px;
  border: 2px solid #E5E5E5;
}

.filters-button:hover {
  border-color: #000000;
}

.filters-button img {
  display: block;
}

.button-current {
  border-color: #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.card-inner-container {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  margin-bottom: 0;
}

.hotel-card-type,
.hotel-card-price {
  margin: 0;
}

.hotel-card-price {
  justify-self: end;
}

.about-button:not(:disabled):hover,
.about-button:not(:disabled):focus {
  background-color: #615048;
}

.about-button:not(:disabled):active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.about-button:disabled {
  cursor: default;
  outline: none;
  opacity: 0.1;
}

.favorites-button {
  background-color: #82B3D3;
}

.favorites-button:not(:disabled):hover,
.favorites-button:not(:disabled):focus {
  background-color: #68A2CA;
}

.favorites-button:not(:disabled):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button:disabled {
  cursor: default;
  outline: none;
  opacity: 0.1;
}

.already-favorites-button {
  background-color: #7DB54F;
}

.already-favorites-button:not(:disabled):hover,
.already-favorites-button:not(:disabled):focus {
  background-color: #6C9E42;
}

.already-favorites-button:not(:disabled):active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.already-favorites-button:disabled {
  cursor: default;
  outline: none;
  opacity: 0.1;
}

.rating-star-list {
  list-style-type: none;
  display: flex;
  column-gap: 6px;
  justify-content: left;
  padding: 0;
  align-items: center;
}

.rating-count {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  margin: 0;
  justify-self: center;
  padding: 9px 22px 8px 23px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: left;
  column-gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-item:nth-of-type(5) {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding-top: 17px;
  box-sizing: border-box;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:not(.pagination-current):hover,
.pagination-link:not(.pagination-current):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
